 .videoHolder {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  min-width: calc(100% - height of header);
  min-height: calc(100% - height of header);

}

#playRandom{
      position: relative;
      z-index: 1;
  }

#playVid
{
    position: relative;
    z-index: 1;
    margin-left: 30px;
    margin-top: 20px;
}

/* Might be useless */
/*
#videoElement
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
*/
#playPause
{
  position: fixed;
  z-index: 1;
  background-color: transparent;
  background-image:url(button2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px;
  width: 50px;
  height: 50px;
  border: none;
  margin-left: 30px;
  margin-top: 20px;
}


#playPause:hover
{
  background-color: transparent;
  background-image:url(button.jpg);
}